@import url('https://rsms.me/inter/inter.css');

/* Elements */
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body.install-page {
  color: #10404F;
  background: #1997CA url(../../assets/images/wavebkg.png) repeat center center fixed;
  font: normal 81.3%/1.538em "Inter", sans-serif;
  min-height:100%;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  margin: 0 5px 0 0;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  background: #FFFFFF;
  border: 1px solid #AEC3CA;
  box-sizing: border-box;
  box-shadow: inset 0 4px 4px rgba(7, 12, 17, 0.0807786);
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

select {
  background-image: url(../../assets/images/icon-down.png), linear-gradient(180deg, #F1F6F8 0%, #DDE7EA 100%);
  background-position: right;
  border: 1px solid #AEC3CA;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

select:hover {
  background-image: url(../../assets/images/icon-down.png), linear-gradient(180deg, #F1F6F8 0%, #DDE7EA 100%);
  box-shadow: initial;
}
select:focus {
  background-image: url(../../assets/images/icon-down.png), linear-gradient(180deg, #F1F6F8 0%, #DDE7EA 100%);
}

ul.tips, div.description, .form-item .description {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #000000;
}

main {
  margin-top: 30px;
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  color: #10404F;
}

.layout-container {
  padding: 40px 0;
}

/* Seven theme specifics */
.seven-details {
  margin-top: 2em;
  margin-bottom: 1em;
  border: 1px solid #AEC3CA;
  border-radius: 4px;
  background: rgba(217, 231, 236, 0.38);
}

.seven-details summary{
  color: #1A96CA;
}

/* Messages */
.messages {
  margin: 9px 0 10px;
  padding: 15px 30px 15px 60px;
  background: no-repeat 18px 17px;
  box-shadow: none;
  border: 1px solid #059F15;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
}

.messages--error {
  color: #CD0D0D;
  background-image: url(../../assets/images/icon-danger.svg);
  background-color: #FFF1F0;
  box-shadow: none;
  border: 1px solid #CD0D0D;

}

.messages--status {
  color: #059F15;
  background-image: url(../../assets/images/icon-check-larger.svg);
  border: 1px solid #059F15;
  background-color: #F3FAEF;
}

/* Task list */
.task-list {
  border-top: 1px solid #AEC3CA;
  border-bottom: 1px solid #AEC3CA;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0;
  padding: 3px 0;
}

.task-list li {
  padding: 13px 0 13px 60px;
  color: #10404F;
  position: relative;
}

.task-list .is-active {
  background: #167FAC;
  color: #FFFFFF;
}

.task-list .is-active:after {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-top: 0;
  content: none;
  pointer-events: none;
  border: none;
}

.task-list .done {
  color: #35AA4E;
}

.task-list li.done::before {
  background: url(../../assets/images/icon-check.svg) left center no-repeat;
  display: block;
  float: left;
  position: absolute;
  content: '';
  height: 22px;
  width: 18px;
  left: 33px;
}

/* Forms */
.form-item {
  margin: 1.75em 0;
}

.form-actions {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 10px;
  margin-bottom: 13px;
}

.form-type-password-confirm .form-items {
  margin-right: 0;
  margin-left: 0;
}

/* Buttons */
.button {
  color: #10404F;
  border: none;
  border-radius: 20em;
  background-color: #f2f1eb;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 16px;
}

.button.button--primary {
  background-color: #167FAC;
  color: #fff;
  background-image: none;
  text-shadow: none;
  transition: all 0.15s;
}

.button.button--primary:hover {
  box-shadow: initial;
  background-color: #10404F;
}

.button.button--primary:focus {
  border: none;
}

.page-title {
  margin: 0 60px;
  line-height: 0;
  font-size: 0;
}

.page-title img {
  width: 182px;
}

.site-version {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #10404F;
  display: block;
  margin: 0 60px;
}

.branding {
  margin: 20px 0 0 60px;
}

.branding img {
  width: 50%;
}

/* Progress bar */
.progress__label {
  padding-bottom: 70px;
}

.progress__track {
  border-radius: 0;
  border: none;
  background-color: #DDE7EA;
  box-shadow: initial;
  width: 100%;
  min-height: 4px;
  height: 10px;
}

.progress__bar {
  border-radius: 0;
  background-color: #CD0D0D;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: none;
  border: none;
  margin: 0;
  width: 40%;
  height: 10px;
  position: relative;
}

.progress__bar::after {
  background: url("data:image/svg+xml,%3Csvg width='68' height='40' viewBox='0 0 68 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_54_114)'%3E%3Cpath d='M43.5754 17.7584C43.8618 14.7559 45.1402 11.8416 47.2949 9.72454C48.8309 8.21553 50.7144 7.11889 52.4386 5.82915C54.1458 4.55216 56.2847 2.70606 56.461 0.448649C56.4802 0.202415 56.7845 0.100017 56.955 0.27865C57.3742 0.717861 57.9105 1.21471 58.0592 1.59017C58.4219 2.50499 58.3723 3.57678 58.1033 4.50846C57.7038 5.89224 56.8755 7.10508 56.2273 8.39124C55.4115 10.0101 54.8643 11.9327 55.9423 13.6047C56.953 15.1722 58.9649 15.6882 60.6394 14.8666C62.6212 13.8942 62.695 11.76 62.2479 9.86333C62.2011 9.66477 62.4189 9.51031 62.592 9.61842C65.6738 11.5435 67.4641 15.732 67.8927 19.1684C68.3703 22.9986 67.2379 27.0038 64.8255 30.0168C64.1009 30.9219 63.1362 31.8353 61.93 31.6237C61.219 31.499 60.4214 31.1388 59.7041 30.9494C57.8616 30.4631 50.2404 28.4202 48.2587 27.9517C46.6174 27.5639 45.6101 26.2592 44.8469 24.7622C43.7508 22.6124 43.3465 20.1572 43.5754 17.7584Z' fill='%23EBB34C'/%3E%3Cpath d='M56.7182 1.59017C57.0474 2.50499 57.0024 3.57678 56.7583 4.50846C56.3957 5.89224 55.6437 7.10508 55.0552 8.39124C54.3146 10.0101 53.8178 11.9327 54.7965 13.6047C55.5526 14.8964 56.9259 15.4732 58.2362 15.1768C57.3208 14.987 56.4866 14.4484 55.9426 13.6047C54.8645 11.9327 55.4117 10.0101 56.2276 8.39124C56.8758 7.10508 57.7042 5.89224 58.1036 4.50846C58.3725 3.57692 58.4222 2.50499 58.0595 1.59017C57.9106 1.21471 57.3744 0.717861 56.9553 0.27865C56.7847 0.100017 56.4803 0.202415 56.4612 0.448649C56.4457 0.646939 56.4143 0.841774 56.3702 1.03369C56.5285 1.23264 56.6582 1.42336 56.7182 1.59017Z' fill='%23E69824'/%3E%3Cpath d='M67.8925 19.1686C67.464 15.7321 65.6736 11.5437 62.5918 9.6186C62.4188 9.51049 62.2009 9.66495 62.2477 9.8635C62.3448 10.2754 62.4172 10.6984 62.451 11.1183C64.2626 13.2848 65.338 16.4599 65.6445 19.1686C66.078 22.9988 65.05 27.004 62.8602 30.017C62.4364 30.6002 61.9215 31.1849 61.3164 31.4718C61.5252 31.5346 61.731 31.589 61.93 31.6238C63.1362 31.8353 64.1008 30.922 64.8255 30.0169C67.2376 27.004 68.3701 22.9988 67.8925 19.1686Z' fill='%23E69824'/%3E%3Cpath d='M35.9632 17.5734C36.1836 17.2913 36.6296 17.4104 36.6916 17.763C36.7736 18.2295 36.9095 18.682 37.134 19.0908C37.5035 19.7636 38.1485 20.3034 38.8817 20.3605C39.615 20.4176 40.3939 19.8906 40.5182 19.1236C40.6507 18.3068 40.0818 17.5768 39.6854 16.8622C38.9276 15.4959 38.7437 13.7874 39.1918 12.2759C39.5891 10.936 40.5263 9.61261 41.681 8.86767C41.7646 8.81375 41.8654 8.89649 41.8323 8.99026C41.5121 9.89896 42.1244 11.9639 42.3326 12.5051C42.8425 13.831 43.9068 14.8794 45.0669 15.6593C46.5355 16.6465 48.204 17.3037 49.6852 18.2719C51.4724 19.4399 52.9751 21.0779 53.842 23.0291C54.4428 24.3812 54.7269 25.8835 54.6223 27.3617C54.5409 28.5117 54.571 29.1495 53.4908 29.2809C51.9591 29.4673 50.2841 29.2779 48.742 29.2764C45.947 29.2738 43.1519 29.2711 40.3569 29.2685C39.0285 29.7818 37.4783 29.4152 36.3544 28.5068C35.2306 27.5983 34.5099 26.2077 34.1841 24.7511C33.621 22.2342 34.4048 19.5672 35.9632 17.5734Z' fill='%23F7E365'/%3E%3Cpath d='M66.8134 30.1714C66.4792 29.418 65.7952 28.8828 64.9835 28.7396L27.0664 22.0538C26.7301 21.9948 26.3862 22.1064 26.1491 22.3526C25.912 22.5987 25.8131 22.9466 25.8852 23.2806L27.6299 31.3749C28.0223 33.1949 29.4605 34.5798 31.294 34.903L58.7325 39.7413C59.0005 39.7885 59.2681 39.8115 59.5332 39.8115C61.0816 39.8115 62.536 39.0246 63.3823 37.6791L66.6463 32.4889C67.0851 31.7911 67.1475 30.9249 66.8134 30.1714Z' fill='%23607882'/%3E%3Cpath d='M66.8136 30.1715C66.4794 29.4181 65.7954 28.8828 64.9837 28.7397L60.7958 28.0012C61.3328 28.2537 61.769 28.6916 62.0157 29.2482C62.3536 30.0097 62.2904 30.8855 61.8469 31.5909L58.5473 36.8378C57.6918 38.198 56.2215 38.9936 54.6563 38.9936C54.5938 38.9936 54.5311 38.992 54.4683 38.9895L58.7329 39.7414C59.0009 39.7887 59.2685 39.8117 59.5336 39.8117C61.0819 39.8117 62.5364 39.0248 63.3826 37.6793L66.6466 32.4891C67.0853 31.7912 67.1477 30.925 66.8136 30.1715Z' fill='%23495959'/%3E%3Cpath d='M28.1451 29.9249C27.6721 29.9249 27.2466 29.5959 27.143 29.1147L25.4619 21.3174C25.2482 20.3273 24.4655 19.5737 23.468 19.3979L17.9459 18.4242C17.3877 18.3258 17.015 17.7936 17.1134 17.2354C17.2118 16.6772 17.7448 16.3046 18.3022 16.403L23.8243 17.3766C25.6473 17.6982 27.0774 19.075 27.468 20.8845L29.1493 28.6822C29.2687 29.2362 28.9163 29.7821 28.3624 29.9015C28.2895 29.9174 28.2167 29.9249 28.1451 29.9249Z' fill='%23607882'/%3E%3Cpath d='M18.3015 16.4044L17.8917 18.728C17.7757 19.3861 17.1481 19.8256 16.49 19.7095L9.25588 18.4339C8.40057 18.2831 7.52122 18.3455 6.69579 18.6154C5.89307 18.8778 5.03802 18.9384 4.20622 18.7917L2.48311 18.4879C0.849114 18.1997 -0.24194 16.6415 0.0461298 15.0075C0.3342 13.3735 1.89249 12.2825 3.52648 12.5705L17.3199 15.0027C17.9781 15.1187 18.4174 15.7462 18.3015 16.4044Z' fill='%23DF646E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_54_114'%3E%3Crect width='68' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
  content: '';
  width: 68px;
  height: 68px;
  display: block;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
}

.system-status-report {
  padding-bottom: 16px;
}

/* Breakpoints */
@media (max-width: 48em) {
  .layout-container {
    padding: 40px;
  }
  .branding {
    margin: 20px 0 0 0;
  }
  .layout-sidebar-first {
    text-align: center;
  }
}

@media (min-width: 48em) {
  .layout-container {
    max-width: 940px;
    box-shadow: 0px 2.76726px 2.21381px rgba(7, 12, 17, 0.0562291), 0px 6.6501px 5.32008px rgba(7, 12, 17, 0.0807786), 0px 12.5216px 10.0172px rgba(7, 12, 17, 0.1), 0px 22.3363px 17.869px rgba(7, 12, 17, 0.119221), 0px 41.7776px 33.4221px rgba(7, 12, 17, 0.143771), 0px 100px 80px rgba(7, 12, 17, 0.2);
  }
}
